[submodule "kcp"]
	path = kcp
	url = https://github.com/ntnn/kcp
[submodule "kubernetes"]
	path = kubernetes
	url = https://github.com/ntnn/kubernetes
[submodule "kcp-apimachinery"]
	path = kcp-apimachinery
	url = https://github.com/kcp-dev/apimachinery
[submodule "kcp-client-go"]
	path = kcp-client-go
	url = https://github.com/kcp-dev/client-go
[submodule "kcp-code-generator"]
	path = kcp-code-generator
	url = https://github.com/kcp-dev/code-generator
[submodule "kube-bind"]
	path = kube-bind
	url = https://github.com/kube-bind/kube-bind
[submodule "multicluster-runtime"]
	path = multicluster-runtime
	url = https://github.com/kubernetes-sigs/multicluster-runtime
[submodule "kcp-multicluster-provider"]
	path = kcp-multicluster-provider
	url = https://github.com/kcp-dev/multicluster-provider
