go 1.23.0

use (

	./go-ntnn

	./kcp
	./kcp/sdk

	// ./kcp-apimachinery

	// ./kcp-client-go

	// ./kcp-code-generator
	// ./kcp-code-generator/examples

	// ./kcp-multicluster-provider

	// ./kubernetes
	// ./kubernetes/staging/src/k8s.io/api
	// ./kubernetes/staging/src/k8s.io/apiextensions-apiserver
	// ./kubernetes/staging/src/k8s.io/apimachinery
	// ./kubernetes/staging/src/k8s.io/apiserver
	// ./kubernetes/staging/src/k8s.io/cli-runtime
	// ./kubernetes/staging/src/k8s.io/client-go
	// ./kubernetes/staging/src/k8s.io/cloud-provider
	// ./kubernetes/staging/src/k8s.io/cluster-bootstrap
	// ./kubernetes/staging/src/k8s.io/code-generator
	// ./kubernetes/staging/src/k8s.io/component-base
	// ./kubernetes/staging/src/k8s.io/component-helpers
	// ./kubernetes/staging/src/k8s.io/controller-manager
	// ./kubernetes/staging/src/k8s.io/cri-api
	// ./kubernetes/staging/src/k8s.io/cri-client
	// ./kubernetes/staging/src/k8s.io/csi-translation-lib
	// ./kubernetes/staging/src/k8s.io/dynamic-resource-allocation
	// ./kubernetes/staging/src/k8s.io/endpointslice
	// ./kubernetes/staging/src/k8s.io/externaljwt
	// ./kubernetes/staging/src/k8s.io/kms
	// ./kubernetes/staging/src/k8s.io/kube-aggregator
	// ./kubernetes/staging/src/k8s.io/kube-controller-manager
	// ./kubernetes/staging/src/k8s.io/kube-proxy
	// ./kubernetes/staging/src/k8s.io/kube-scheduler
	// ./kubernetes/staging/src/k8s.io/kubectl
	// ./kubernetes/staging/src/k8s.io/kubelet
	// ./kubernetes/staging/src/k8s.io/metrics
	// ./kubernetes/staging/src/k8s.io/mount-utils
	// ./kubernetes/staging/src/k8s.io/pod-security-admission
	// ./kubernetes/staging/src/k8s.io/sample-apiserver
	// ./kubernetes/staging/src/k8s.io/sample-cli-plugin
	// ./kubernetes/staging/src/k8s.io/sample-controller

)
